@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f9f9f9;
    color: #030303;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 56px;
    padding: 0 16px;
    background-color: #fff;
    margin: 0 auto 40px;
}

.menu {
    display: flex;
    align-items: center;
    height: 40px;
}

#logo img {
    width: 30%;
    padding-left: 16px;
}

#logo sub {
    color: #aaa;
    font-size: 1.1rem;
    margin-left: 5px;
    position: absolute;
    top: 10px;
}

.search form {
    width: 540px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: -9%;
}

.search input {
    width: 100%;
    height: 100%;
    padding: 12px;
    border: 1px solid #d3d3d3;
    border-radius: 2px 0 0 2px;
}

.search-btn {
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 0 2px 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 40px;
    text-decoration: none;
    color: #030303;
    cursor: pointer;
}

.mic-btn {
    background-color: #f9f9f9;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #030303;
    cursor: pointer;
    margin-left: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 190px;
    height: 40px;
}

.more {
    margin: 0 8px;
}

.sign-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #085ed4;
    padding: 7px 11px;
    text-decoration: none;
    color: #085ed4;
}

#sign-in {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-left: 5px;
}

/* Main section */
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 58%;
    height: auto;
    overflow-y: auto;
}

.video {
    border-bottom: 1px solid #e0e0e0;
}

.video-player {
    position: relative;
}

.video-player video {
    width: 100%;
    height: 100%;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    padding: 0 10px;
}

.left-side, .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.control-link {
    text-decoration: none;
    color: #fff;
}

.control-link .material-icons {
    font-size: 2.7em;
}

.control-link.time-duration {
    font-size: 1.4rem;
}

.video-title h3 {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 15px 0 10px;
}

.video-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-bottom: 20px;
}

.stats-info {
    color: #606060;
    font-size: 1.4rem;
    font-weight: 300;
}

.stats-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-link {
    color: #000;
    text-decoration: none;
    padding-right: 10px;
}

.video-link i {
    font-size: 1.6em;
    padding-right: 5px;
}

.video-link span {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.youtuber {
    display: flex;
    height: auto;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.profile {
    margin-right: 15px;
}

.profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 92%;
}

.youtuber-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.channel-name {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.channel-name h6 {
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 5px;
}

.channel-name i {
    font-size: 1.3em;
}

.name p {
    font-size: 1.2rem;
    color: #606060;
}

.join-btn {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #085ed4;
    border-radius: 2px;
    color: #085ed4;
    padding: 9px 15px;
    font-size: 1.4rem;
    margin-right: 4px;
}

.subscribe-btn {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #cc0100;
    border-radius: 2px;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.4rem;
}

.desc {
    font-size: 1.4rem;
    width: 800px;
}

.show-more {
    font-size: 1.2rem;
    color: #606060;
    text-transform: uppercase;
    margin-top: 25px;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment-stats {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.number-of-comments {
    font-size: 1.6rem;
    margin-right: 25px;
}

.sort {
    display: flex;
    align-items: center;
}

.sort p {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-left: 5px;
}

.add-comment {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.add-comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.add-comment form {
    width: 850px;
}

.add-comment form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    width: 100%;
}

.list-of-comments .comment-box {
    display: flex;
    margin-bottom: 25px;
}

.comment-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment-detail {
    display: flex;
    flex-direction: column;
}

.comment-detail small {
    margin-bottom: 10px;
}

.comment-detail small i {
    font-size: 1rem;
}

.comment-detail small span {
    font-size: 1.2rem;
    color: #606060;
}

.user-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-name h6 {
    font-size: 1.3rem;
    padding-right: 5px;
}

.user-name p {
    font-size: 1.2rem;
    color: #606060;
}

.user-comment {
    font-size: 1.4rem;
}

.user-comment a {
    text-decoration: none;
    color: #085ED4;
}

.comment-links {
    display: flex;
    align-items: center;
}

.comment-link-action {
    text-transform: uppercase;
    text-decoration: none;
    color: #606060;
    padding: 0px 7px;
    font-size: 1.2rem;
    margin-top: 15px;
}

.comment-link-action i {
    font-size: 1.2rem;
    padding-right: 5px;
}

.replies {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 15px;
}

.replies i {
    font-size: 1.3rem;
}

.replies span {
    color: #085ed4;
    font-size: 1.4rem;
}

/* Sidebar */
aside {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    padding-left: 25px;
}

.sidebar-box {
    display: flex;
    margin-bottom: 20px;
}

.sidebar-box img {
    width: 150px;
}

.video-info {
    width: 240px;
    padding: 0px 10px;
}

.video-info h6 {
    font-size: 1.4rem;
}

.video-info .video-channel {
    display: flex;
    align-items: center;
    padding-top: 7px;
}

.video-info .video-channel span {
    font-size: 1.2rem;
    color: #606060;
    padding-right: 3px;
}

.video-info .video-channel i {
    font-size: 1.2rem;
    color: #606060;
}

.video-info p {
    font-size: 1.2rem;
    color: #606060;
    padding-top: 5px;
}